<div ngbDropdown placement="bottom-right" class="kt-header__topbar-item kt-header__topbar-item--user">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<div class="kt-header__topbar-user" [ngClass]="{'kt-header__topbar-icon': icon}">
			<span class="kt-header__topbar-welcome kt-hidden-mobile">Merhaba,</span>
			<span class="kt-header__topbar-username kt-hidden-mobile">{{name}}</span>
			<span *ngIf="badge"
				class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">asd</span>
		</div>
	</div>
	<div ngbDropdownMenu
		class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
		<!--begin: Head -->
		<div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x"
			style="background-image: url(./assets/media/misc/bg-1.jpg)">
			<div class="kt-user-card__name">
				Hoşçakal, {{name}}
			</div>
			<div class="kt-user-card__badge">
				<a (click)="logout()" class="btn btn-outline-light btn-upper btn-sm btn-bold" style="color: white;">Çıkış</a>
			</div>
		</div>
		<!--end: Head -->
	</div>
</div>