agm-map{
    height: 300px;
}
.imageSize {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.container {
    width: 100%;
    height: 350px;
}

.mapSize{
    width: 100%;
    height: 300px;
}
